.expand{
  width: 100%;
    transition: 2s ease-in-out;
    flex: 5;
}
.card-img{
    transition: flex 0.7s cubic-bezier(0.05, 0.6, 0.4, 0.9);
}
h3{
    left: 30px;
}
.card-img.expand h3{
    left: 50px;
    bottom: 20px;
    display: block;
    transition:  2.7s ease-in-out;

}





